<div class="item">
  <div class="images">
	 <a href="<%= result["url"]%>">
	   <img src="<%= result["Images"][0]["url_170x135"]%>"> 
	 </a>
   </div>

  <div class="info">
	<div class="title">
	  <%= result["title"] %>
	</div>
	<div class="price">
	  <%= result["price"] %>
	  <%= result["currency_code"] %>
	</div>
	<div class="shop">
	  <%= result["Shop"]["shop_name"] %>
	</div> 
  </div>  
</div>    



